.form-admin .form-tab.ui.menu {
  background-color: #F3F4F5;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  border-radius: 0;
  border: none medium;
  box-shadow: none;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.form-admin .form-tab.ui.menu .item.active {
  color: rgba(140, 140, 140, 0.87);
  font-weight: normal;
  border-color: #21BA45;
}

.form-admin .form-tab.ui.menu .item.active:hover {
  border-color: #198f35;
}

.form-admin .form-tab.ui.menu .item {
  color: rgba(140, 140, 140, 0.87);
  padding: 17px 16px;
}

.form-admin .form-title.ui.segment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  border-radius: 0;
  border: none medium;
  box-shadow: none;
  border-bottom: 2px solid #21BA45;
}

.form-admin .form-title.ui.segment > .title {
  min-height: 34px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: calc(100% - 150px);
}

.form-admin .form-title.ui.segment > .control {
  width: 150px;
  text-align: right;
}

.form-admin .form-title.ui.segment > .control > .ui.button {
  margin-right: 0;
  margin-left: 0.25em;
}

.form-admin .form-content {
  margin: 0;
  border-radius: 0;
  border: none medium;
  box-shadow: none;
  height: calc(100% - 100px);
  padding: 0;
  overflow-y: auto;
}

.form-admin .form-content > .ui.table.form-table > thead > tr:first-child {
  background-color: #F5f5f5;
}

.form-admin .form-content > .ui.table.form-table > thead > tr:first-child th:first-child {
  width: 50px;
  padding-left: 10px;
}

.form-admin .form-content > .ui.table.form-table > thead > tr:first-child th {
  padding-top: 13px;
}

.form-admin .form-content > .ui.table.form-table > thead > tr:first-child th:last-child {
  width: 95px;
  padding-right: 10px;
}

.form-admin .form-content > .ui.table.form-table > tbody > tr > td:first-child {
  padding-left: 10px;
}

.form-admin .form-content > .ui.table.form-table > tbody > tr > td:last-child {
  text-align: right;
  padding-right: 10px;
}

.form-admin .form-content > .ui.images {
  margin: 0;
  padding-top: 0.5em;
}

.form-admin .form-content > .ui.message {
  border-radius: 0;
  display: block;
}

.form-admin .form-footer {
  margin: 0;
  border-radius: 0;
  border: none medium;
  box-shadow: none;
  min-height: 48px;
  background-color: #F5f5f5;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-admin .form-footer .control {
  width: 150px;
}

.form-admin .form-footer .notes {
  width: calc(100% - 150px);
}

.form-admin .form-footer .notes .note {
  position: absolute;
  right: 1em;
  top: calc(35% - 3px);
}

.form-admin .form-empty > .ui.icon.header {
  display: block;
  position: absolute;
  top: calc(50% - 51px);
  width: 100%;
}

.form-admin .form-field {
  margin: 0;
  border-radius: 0;
  border: none medium;
  box-shadow: none;
  padding: 1em;
  max-height: calc(100% - 49px);
  overflow: auto;
}

.form-admin .ui.form {
  background-color: white;
  height: 100%;
  z-index: 1;
}

.manga.menu {
  border-radius: 0px;
}

#admin-menu {
  margin-bottom: 0;
  border: none medium;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0;
}

#admin-grid {
  position: absolute;
  height: calc(100% - 51px);
  width: 100%;
  margin: 0;
}

#admin-grid .column {
  padding: 0;
}

#admin-grid #admin-side {
  background-color: #F5f5f5;
}

#admin-grid #admin-side #admin-info {
  text-align: center;
  width: 100%;
  padding: 1em;
}

#admin-grid #admin-side #admin-info .image .ui.image {
  margin-left: auto;
  margin-right: auto;
}

#admin-grid #admin-side #admin-menu {
  width: 100%;
  box-shadow: none;
  border-radius: 0;
  border-left: none medium;
  border-right: none medium;
  background-color: transparent;
}

#admin-grid #admin-side #admin-menu .item:first-child {
  border-radius: 0;
}

#admin-grid #admin-side #admin-menu .item:last-child {
  border-radius: 0;
}

#admin-grid #admin-side #admin-note {
  text-align: center;
}

#admin-area {
  border-left: 1px solid #e6e6e6;
}

#admin-area .admin-title {
  border-radius: 0;
  margin: 0;
  border: none medium;
  box-shadow: none;
}

#admin-area > .ui.grid {
  height: 100%;
  margin: 0;
}

#admin-area > .ui.grid.grid-fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#admin-side-right {
  border-left: 1px solid #e6e6e6;
}

.ui.manga.card.fluid .content {
  font-family: "Open Sans";
  font-size: 11px;
}

.ui.manga.card.fluid .content .header {
  font-weight: 300;
  font-size: 13px;
}

.ui.vertical.footer {
  padding: 3rem 0;
}

.manga-grid.ui.grid .manga-list.row .column {
  margin-bottom: 1rem;
}

.manga-side-list.list .item .description {
  padding-top: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.ui.form.login {
  background-color: #FFF;
  margin-top: 20%;
  font-family: "Open Sans";
  font-weight: 400;
}

.ui.form.login .form-title {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 4px solid #0960a5;
}

.ui.form.login .form-field {
  padding: 10px 10px 10px 10px;
  background-color: #eee;
}

.ui.form.login .form-field .field label {
  font-weight: 400;
}

.ui.form.login .form-control {
  background-color: #e0e0e0;
  color: white;
  min-height: 60px;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  border-top: 4px solid #adadad;
}

.ui.form.login .form-control .ui.button {
  text-transform: uppercase;
}

.ui.button {
  border-radius: 0 !important;
  font-weight: 400;
  font-family: "Open Sans";
}

.ui.buttons {
  border-radius: 0 !important;
  font-weight: 400;
  font-family: "Open Sans";
}

.ui.buttons .ui.button:first-child {
  border-radius: 0 !important;
  font-weight: 400;
  font-family: "Open Sans";
}

.ui.buttons .ui.button:last-child {
  border-radius: 0 !important;
  font-weight: 400;
  font-family: "Open Sans";
}