@blue-light-1: lighten(@blue,10%);
@blue : #2196f3;
@blue-darken-1: darken(@blue,10%);

@my-font-family: "Open Sans";

.manga.menu {
	border-radius:0px;
}
#admin-menu {
	margin-bottom:0;
}
#admin-grid {
	position:absolute;
	height:~"calc(100% - 51px)";
	width:100%;
	margin:0;
	.column {
		padding:0;
	}
	#admin-side {
		background-color:#F5f5f5;
		#admin-info {
			text-align:center;
			width:100%;
			padding:1em;
			.image {
				.ui.image {
					margin-left:auto;
					margin-right:auto;
				}
			}
		}
		#admin-menu {
			width:100%;
			box-shadow:none;
			border-radius:0;
			border-left:none medium;
			border-right:none medium;
			background-color:transparent;
			.item:first-child {
				border-radius:0;
			}
			.item:last-child {
				border-radius:0;
			}
		}
		#admin-note {
			text-align:center;
		}
	}

}
#admin-area {
	overflow:hidden;
	.admin-title {
		border-radius:0;
		margin:0;
		border:none medium;
		box-shadow:none;
	}
}
#admin-side-right {
	border-left:1px solid lighten(#000, 90%);
}
.ui.manga.card.fluid {
	.content {
		font-family:@my-font-family;
		font-size: 11px;
		.header {
			font-weight:300;
			font-size: 13px;
		}
	}
}
.ui.vertical.footer {
	padding:3rem 0;
}
.manga-grid.ui.grid {
	.manga-list.row {
		.column { margin-bottom:1rem; }
	}
}
.manga-side-list.list {
	.item .description {
		padding-top:1em;
		color: rgba(0, 0, 0, 0.4);
	}
}
.ui.form.login {
	background-color:#FFF;
	margin-top:20%;
	font-family: @my-font-family;
	font-weight: 400;
	.form-title {
		background-color: @blue;
		color:white;
		font-weight: 700;
		text-transform: uppercase;
		.panel-header(4px;@blue);
	}
	.form-field {
		padding:10px 10px 10px 10px;
		background-color: #eee;
		.field {
			label {
				font-weight:400;
			}
		}
	}
	.form-control {
		background-color: #e0e0e0;
		color: white;
		min-height: 60px;
		.panel-footer (4px; #e0e0e0);
		.ui.button {
			text-transform: uppercase;
		}
	}
}

.ui.button {
	border-radius: 0;
	font-weight: 400;
	font-family: @my-font-family;
}

.panel-header (@radius:8px; @colorbase) {
	padding: 10px;
	border-radius:@radius @radius 0px 0px;
	border-bottom: 4px solid darken(@colorbase, 20%);
}

.panel-footer (@radius:8px; @colorbase) {
	padding: 10px;
	border-radius:0px 0px @radius @radius;
	border-top: 4px solid darken(@colorbase,20%);
}